<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<display-name>InscriptionServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MembreServlet</servlet-name>
  	<display-name>MembreServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.servlet.MembreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MembreServlet</servlet-name>
  	<url-pattern>/MembreServlet</url-pattern>
  </servlet-mapping>
</web-app>
